.offers {
    display: block;
    margin-top: 120px;
    margin-bottom: 127px;

}

.title--fire {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    margin-left: 0px;
    margin-bottom: 51px;
    margin-top: 244px;
    width: 325px;
    height: 49px;
}

.title--fire:after {
    content: "";
    background: url("img/flame.png") no-repeat;
    margin-left: 10px;
    width: 21px;
    height: 28px;
    position: absolute;
    transform: translate(38%, 41%);
}

.offers__list{
    min-width: 1309px;
    min-height: 441px;
    margin-bottom: 127px;
}

.offers__item{
    min-height: 305px;
    min-width: 362px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 22px;
    color: #000000;
}
.offers__item:last-child{
    margin-right: 0;
}


.offers__img {
    min-height: 144px;
    min-width: 362px;
}


.offers__content {
    padding: 23px 20px;
    /*padding-bottom: 26px;*/
    background: #fff; 
    min-width: 362px;
    min-height: 305px;
    /*padding-right: 323px;*/
    padding-top: 33px;
    color: #303030;
    width: 362px;
height: 305px;
}

.offers__title{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    width: 108px;
    margin-bottom: 20px;
    color: #000000;
    
}

.offers__feature{
    display: inline-block;
    vertical-align: top;
    width: 30px;
    margin-right: 128px;
}



.offers__feature-text{
    width: 90px;
}

.offers__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #303030;
    font-size: 14px;
    margin-bottom: 24px;
}
