.about {
    width: 1920px;
    height: 893px;
}

.about__container {
    position: relative;
}

.about__pic-img {
    float: left;
    margin-top: 303px;

}

.about__content {
    position: absolute;
    top: 400px;
    right: 0;
    width: 785px;
    height: 455px;
    background: url(img/mountains.png);
    padding-top: 70px;
    padding-left: 81px;
    padding-right: 81px;
    padding-bottom: 66px;
    border-radius: 5px;
}

.about__text {
    margin-top: 37px;
    color: #000;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    max-width: 502px;
}

.about__button {
    margin-top: 43px;
}

.menu__link {
    font-size: 14px;
}

.contacts__phone {
    margin-bottom: 4px;
}

.contacts__info {
    text-decoration-line: underline;
}
