.footer{
    height: 152px;
    position: relative;
}

/*раздеительная линия над футером*/
.container footer__container{
    border-top: 1px solid #FFFFFF;
}

.socials__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials__icon{
    position: absolute;
    top: 49px;
    right: 748px;
}

.socials__item:last-child{
    margin-right: 0;
}

.socials__link{
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.contacts__footer{
    float: right;
width: 248px;
}

.contacts__coll{
    color: #9A9A9A;
    font-size: 11px;
    width: 164px;
}
