.footer{
    height: 93px;
    display: block;
    margin-top: 53px;
}

.footer__container{
    border-top: 2px solid rgb(32, 31, 38);

}

.logo__img{
    display: inline-block;
    max-width: 100%;
    min-height: 100%;
}


.menu__item{
    margin-right: 54px;
}

.socials{
display: inline-block;
}

.socials__icon{
    display: inline-block;
   
}

.socials__item{
    display: inline-block;
}

.socials__item:last-child{
    margin-right: 0px;
}

.socials__link{
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.contacts__footer{
    float: right;
    width: 192px;
}

.contacts__coll{
    color: #9A9A9A;
    font-size: 11px;
    width: 164px;
}
