.footer{
    height: 152px;
    display: flex;
    margin-top: 44px;
    border-top: 2px solid rgb(32, 31, 38);
    margin-right: 323px;
    margin-left: 335px;
}

.logo{
    margin-right: 79px;
}

.logo__img{
    display: block;
    max-width: 100%;
    min-height: 100%;
}

.menu{
    display: flex;
    margin-top: 42px;
    justify-content: space-between;
    margin-top: 61px;
}

ul{
    display: flex;
    justify-content: space-between;
}

.menu__item{
    display: inline-block;
    margin-right: 54px;
    display: inline-block;
}

.socials__icon{
    display: flex;
    margin-left: 681px;
    width: 170px;
}

.socials__item{
    vertical-align: middle;
    margin-right: 10px;
}

.socials__item:last-child{
    margin-right: 0;
}

.socials__link{
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.contacts__footer{
    float: right;
    width: 248px;
}

.contacts__coll{
    color: #9A9A9A;
    font-size: 11px;
    width: 164px;
}
