.page-contant__reviews {
    min-height: 1578px;
}

.reviews {
    /*ul*/
    display: flex;
    display: inline-block;
    column-gap: 26px;
    column-count: 2;
    margin-bottom: 37px;
    padding-left: 0;
}

.reviews__item {
    /*li*/
    flex-direction: column;
    border-radius: 5px;
    padding: 50px 30px;
    background: #F4F5F5;
    margin-bottom: 20px;
}

.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

.review__header {
    display: flex;
    align-items: center;
}

.review__photo {
    width: 142px;
    height: 142px;
    overflow: hidden;
    border-radius: 50%;
}

.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #1A1B1E;
    margin-bottom: 11px;
}

.review__user--active {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #2E77A4;
    text-decoration-line: underline;
    margin-bottom: 11px;
}

.review__user:after {
    content: url("../../img/vk-blue\ 1.png");
    height: 29px;
    margin-left: 6px;
    margin-bottom: 3px;
}

.review__tags {
    display: flex;
    align-items: flex-start;
}

.tag__bg {
    /*кнопка  зеленая*/
    font-weight: 444px;
    font-size: 14px;
    font-size: 13px;
    background: #B9EAE4;
    padding: 8px 16px;
    border-radius: 35px;
    color: #303030;
}

.tag__bg--light {
    background: #E7E7E7;
    /*кнопка  cерая*/
}

.review__title {
    font-size: 30px;
    color: #1A1B1E;
    font-weight: 700;
    margin-bottom: 13px;
}

.review__contant-text {
    margin-bottom: 49px;
    color: #818181;
}

.review__date {
    font-size: 14px;
    font-weight: 600;
    color: #1A1B1E;
}

.seporator {
    background: #ec9d8d url("../../img/Rectangle.png") no-repeat center;
    min-height: 363px;
    display: flex;
    flex-direction: column;
}

.seporator__img {
    position: absolute;
    margin-top: 21px;
    margin-left: 616px;
    margin-bottom: 1px;

}

.seporator__content {
    max-width: 52%;
}

.seporator__title {
    padding-top: 117px;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.1;
    color: #FFFFFF;  /*нужен для блочков*/
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 270px;
    /*250*/
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-bottom: 88px;
}

.inner-footer {
    display: flex;
    background: #001821;
    margin-top: auto;
}

.inner-foter__container {
    padding: 9px 0;
}

.form__row {
    display: flex;
}

.form__row{
    margin-bottom: 26px;
}

.form__input {
    flex: 1;
    margin-right: 28px;
    border-radius: 5px;
    border: none;
    padding: 20px 30px;
    font-weight: 400;
    font-size: 18px;
    color: #1A1B1E;
}

.form__input::placeholder{
    color: #666666;
}

.form__input:last-child {
    margin-right: 0px;
}

.form__input--textarea{
    height: 235px;
}
