.reviews{   /*ul*/
    display: flex;
    display: inline-block;
    column-gap: 26px;
    column-count: 2;
    margin-bottom: 37px;
   
}

.reviews__item{  /*li*/
    flex-direction: column;
    border-radius: 5px;
    padding: 50px 30px;
    background: #F4F5F5;
    margin-bottom: 20px;
    
}


.review__header{
display: flex;
align-items: center;
margin-bottom: 27px;

}

.review__header{
    display: flex;
    align-items: center;
}

.review__photo{
    width: 142px;
    height: 142px;
    overflow: hidden;
    border-radius: 50%;
}


.review__user{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #1A1B1E;
    margin-bottom: 11px;
}

.review__user--active{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #2E77A4;
    text-decoration-line: underline;
    margin-bottom: 11px;
}

.review__user:after{
    content: url("../../img/vk-blue\ 1.png");
    height: 29px;
    margin-left: 6px;
    margin-bottom: 3px;
}

.review__tags{
    display: flex;
    align-items: flex-start;
}

.tag__bg{  /*кнопка  зеленая*/
    font-weight: 444px;
    font-size: 14px;
    font-size: 13px;
    background: #B9EAE4; 
    padding: 8px 16px;
    border-radius: 35px;
    color: #303030;
}

.tag__bg--light{
    background: #E7E7E7;   /*кнопка  cерая*/
}

.review__title{
    font-size: 30px;
    color: #1A1B1E;
    font-weight: 700;
    margin-bottom: 13px;
}

.review__contant-text{
    margin-bottom: 49px;
    color: #818181;
}

.review__date{
    font-size: 14px;
    font-weight: 600;
    color: #1A1B1E;
}
